
.cell {
    background-color: "[theme:themePrimary, default:#e5e5e5]";
    display: 'inline-block';
}
.msg{
    display: 'block';
    border: 1px solid black;
    border-radius: 15px;
    padding: 4px 10px;
    margin-left: 10%;
    max-width: 80%;
    word-break: break-word;
    margin-top:10px;
}
.hidden{
    display:none;
}
.msgblock{
    display:block;

    
    div{
        float:right;
        clear:both;
    }
}
  
.author{
    font-size:x-small;
}

.date{
    font-size:xx-small;
}